trigger: 
- master

pr: none

pool:
  vmImage: 'ubuntu-latest'

stages:
- stage: Build
    
  jobs:
  - job: Build
    steps:
    - task: DockerCompose@1
      displayName: docker-compose build
      inputs:
        containerregistrytype: 'Azure Container Registry'
        azureSubscription: 'bacr(4)(c4530747-c19d-4a6d-b3b6-8fa1904c8b65)'
        azureContainerRegistry: '{"loginServer":"bacrhub.azurecr.io", "id" : "/subscriptions/c4530747-c19d-4a6d-b3b6-8fa1904c8b65/resourceGroups/bacr/providers/Microsoft.ContainerRegistry/registries/bacrhub"}'
        dockerComposeFile: '**/docker-compose.yaml'
        projectName: 'sakhatyla'
        action: 'Build services'
        additionalImageTags: '$(Build.BuildNumber)'
        includeLatestTag: true
    - task: DockerCompose@1
      displayName: docker-compose push
      inputs:
        containerregistrytype: 'Azure Container Registry'
        azureSubscription: 'bacr(4)(c4530747-c19d-4a6d-b3b6-8fa1904c8b65)'
        azureContainerRegistry: '{"loginServer":"bacrhub.azurecr.io", "id" : "/subscriptions/c4530747-c19d-4a6d-b3b6-8fa1904c8b65/resourceGroups/bacr/providers/Microsoft.ContainerRegistry/registries/bacrhub"}'
        dockerComposeFile: '**/docker-compose.yaml'
        projectName: 'sakhatyla'
        action: 'Push services'
        additionalImageTags: '$(Build.BuildNumber)'
        includeLatestTag: true
    - task: CopyFiles@2
      displayName: copy docker-compose.yaml
      inputs:
        Contents: 'docker-compose.yaml'
        TargetFolder: '$(build.artifactstagingdirectory)'
    - task: CopyFiles@2
      displayName: copy docker-compose.Production.yaml
      inputs:
        Contents: 'docker-compose.Production.yaml'
        TargetFolder: '$(build.artifactstagingdirectory)'
    - task: file-creator@5
      displayName: create docker-compose.Release.yaml
      inputs:
        fileoverwrite: true
        filepath: '$(Build.ArtifactStagingDirectory)/docker-compose.Release.yaml'
        filecontent: |
          services:
            web:
              image: 'bacrhub.azurecr.io/sakhatyla_web:$(Build.BuildNumber)'
            webng:
              image: 'bacrhub.azurecr.io/sakhatyla_webng:$(Build.BuildNumber)'
            site:
              image: 'bacrhub.azurecr.io/sakhatyla_site:$(Build.BuildNumber)'
            worker:
              image: 'bacrhub.azurecr.io/sakhatyla_worker:$(Build.BuildNumber)'
    - task: PublishPipelineArtifact@1
      inputs:
        path: $(Build.ArtifactStagingDirectory)
        artifact: DockerCompose

- stage: Production
  variables:
  - group: SakhaTyla-Production
  jobs:
  - deployment: DeployApp
    pool:
      vmImage: 'ubuntu-latest'
    environment:
      name: Production
      resourceType: VirtualMachine
    variables:
      DbHost: db
      DbName: SakhaTyla-$(Environment.Name)
    strategy:
      runOnce:
        deploy:
          steps:
            - task: DownloadPipelineArtifact@2
              inputs:
                artifact: DockerCompose
            - task: CopyFiles@2
              displayName: copy artifacts
              inputs:
                SourceFolder: '$(Pipeline.Workspace)/DockerCompose/'
                Contents: '**'
                TargetFolder: '$(AppDirectory)'
                OverWrite: true
            - task: DockerCompose@1
              displayName: docker-compose pull
              inputs:
                containerregistrytype: 'Azure Container Registry'
                azureSubscription: 'bacr(4)(c4530747-c19d-4a6d-b3b6-8fa1904c8b65)'
                azureContainerRegistry: '{"loginServer":"bacrhub.azurecr.io", "id" : "/subscriptions/c4530747-c19d-4a6d-b3b6-8fa1904c8b65/resourceGroups/bacr/providers/Microsoft.ContainerRegistry/registries/bacrhub"}'
                dockerComposeFile: '$(AppDirectory)/docker-compose.yaml'
                additionalDockerComposeFiles: |
                  docker-compose.Release.yaml
                  docker-compose.$(Environment.Name).yaml
                projectName: 'sakhatyla'
                action: 'Run a Docker Compose command'
                dockerComposeCommand: 'pull'
            - task: file-creator@5
              displayName: create config.json
              inputs:
                fileoverwrite: true
                filepath: '$(AppDirectory)/webng/config.json'
                filecontent: |
                  {
                    "apiBaseUrl": "$(IdUrl)"
                  }
            - task: file-creator@5
              displayName: create custom nginx conf
              inputs:
                fileoverwrite: true
                filepath: '$(AppDirectory)/nginx/custom.conf'
                filecontent: |
                  gzip on;
                  gzip_types application/json application/xml text/plain text/css text/json text/xml image/svg+xml;
                  gzip_vary on;
            - task: DownloadSecureFile@1
              displayName: download sakhatyla.pfx
              inputs:
                secureFile: 'sakhatyla.pfx'
            - task: CopyFiles@2
              displayName: copy cert
              inputs:
                SourceFolder: '$(Agent.TempDirectory)'
                Contents: 'sakhatyla.pfx'
                TargetFolder: '$(AppDirectory)/cert/'
            - task: DockerCompose@1
              displayName: docker-compose up
              inputs:
                containerregistrytype: 'Azure Container Registry'
                azureSubscription: 'bacr(4)(c4530747-c19d-4a6d-b3b6-8fa1904c8b65)'
                azureContainerRegistry: '{"loginServer":"bacrhub.azurecr.io", "id" : "/subscriptions/c4530747-c19d-4a6d-b3b6-8fa1904c8b65/resourceGroups/bacr/providers/Microsoft.ContainerRegistry/registries/bacrhub"}'
                dockerComposeFile: '$(AppDirectory)/docker-compose.yaml'
                additionalDockerComposeFiles: |
                  docker-compose.Release.yaml
                  docker-compose.$(Environment.Name).yaml
                dockerComposeFileArgs: |
                  DbHost=$(DbHost)
                  DbName=$(DbName)
                  DbUser=$(DbUser)
                  DbPassword=$(DbPassword)
                  AdminUrl=$(AdminUrl
                  AdminHost=$(AdminHost)
                  IdUrl=$(IdUrl)
                  IdHost=$(IdUrl)
                  SiteUrl=$(SiteUrl)
                  SiteHost=$(SiteHost
                  SiteWwwHost=$(SiteWwwHost)
                  CertificatePath=$(CertificatePath)
                  CertificatePassword=$(CertificatePassword)
                  S3AccessKey=$(S3AccessKey)
                  S3SecretKey=$(S3SecretKey)
                  S3BucketName=$(S3BucketName)
                  S3ServiceUrl=$(S3ServiceUrl)
                  MqUsername=$(MqUsername)
                  MqPassword=$(MqPassword)
                  EmailSmtpServer=$(EmailSmtpServer)
                  EmailSmtpPort=$(EmailSmtpPort)
                  EmailUsername=$(EmailUsername)
                  EmailPassword=$(EmailPassword)
                  TelegramBotToken=$(TelegramBotToken)
                projectName: 'sakhatyla'
                action: 'Run a Docker Compose command'
                dockerComposeCommand: 'up -d --always-recreate-deps'