x-env: &env
  ConnectionStrings__DefaultConnection: 'Server=tcp:${DB_HOST},1433;Initial Catalog=${DB_NAME};Persist Security Info=False;User ID=${DB_USER};Password=${DB_PASSWORD};MultipleActiveResultSets=False;Encrypt=False;Connection Timeout=30;'
  Services__SakhaTyla.Core.FileStorage.IFileStorage: SakhaTyla.Infrastructure.FileStorage.AWSS3Storage
  AWSS3Storage__AccessKey: '${S3_ACCESS_KEY}'
  AWSS3Storage__SecretKey: '${S3_SECRET_KEY}'
  AWSS3Storage__BucketName: '${S3_BUCKET_NAME}'
  AWSS3Storage__ServiceUrl: '${S3_SERVICE_URL}'
  Messaging__ConnectionUrl: 'rabbitmq://mq'
  Messaging__Username: '${MQ_USERNAME}'
  Messaging__Password: '${MQ_PASSWORD}'
  Lucene__IndexPath: /index
  Lucene__HunspellPath: /var/hunspell

services:
  web:
    environment:
      <<: *env
      ASPNETCORE_URLS: 'http://+:5000'
      IdentityServer__Clients__SakhaTyla.Web.Ng__RedirectUri: '${ADMIN_URL}/authentication/login-callback'
      IdentityServer__Clients__SakhaTyla.Web.Ng__LogoutUri: '${ADMIN_URL}/authentication/logout-callback'
      IdentityServer__Key__Type: File
      IdentityServer__Key__FilePath: '${CERTIFICATE_PATH}'
      IdentityServer__Key__Password: '${CERTIFICATE_PASSWORD}'
      Authority: '${ID_URL}'
      Cors__Origin__0: '${ADMIN_URL}'
      Cors__Origin__1: '${SITE_URL}'
      EmailSender__DefaultFrom: 'SakhaTyla.Ru <sakhatranslate@sakhatyla.ru>'
      EmailSender__SmtpServer: '${EMAIL_SMTP_SERVER}'
      EmailSender__SmtpPort: '${EMAIL_SMTP_PORT}'
      EmailSender__UserName: '${EMAIL_USERNAME}'
      EmailSender__Password: '${EMAIL_PASSWORD}'
      EmailSender__EnableSsl: 'true'
      VIRTUAL_HOST: '${ID_HOST}'
      LETSENCRYPT_HOST: '${ID_HOST}'
      LETSENCRYPT_EMAIL: 'sakhatranslate@sakhatyla.ru'
    volumes:
      - ./cert:/var/cert
      - ./hunspell:/var/hunspell
      - index:/index
      - dpkeys:/root/.aspnet/DataProtection-Keys
    restart: always
  webng:
    build:
      context: .
    volumes:
      - ./webng/config.json:/usr/share/nginx/html/assets/config.json
    environment:
      VIRTUAL_HOST: '${ADMIN_HOST}'
      LETSENCRYPT_HOST: '${ADMIN_HOST}'
      LETSENCRYPT_EMAIL: 'sakhatranslate@sakhatyla.ru'
    restart: always
  site:
    environment:
      <<: *env
      ASPNETCORE_URLS: 'http://+:5000'
      Server__ApiUrl: '${ID_URL}'
      VIRTUAL_HOST: '${SITE_HOST},${SITE_WWW_HOST}'
      LETSENCRYPT_HOST: '${SITE_HOST},${SITE_WWW_HOST}'
      LETSENCRYPT_EMAIL: 'sakhatranslate@sakhatyla.ru'
    volumes:
      - ./hunspell:/var/hunspell
      - index:/index
      - dpkeys:/root/.aspnet/DataProtection-Keys
    restart: always
  worker:
    environment:
      <<: *env
      Telegram__BotToken: '${TELEGRAM_BOT_TOKEN}'
    volumes:
      - ./hunspell:/var/hunspell
      - index:/index
    restart: always
  db:
    ports:
      - '0.0.0.0:1433:1433'
    environment:
      ACCEPT_EULA: 'Y'
      SA_PASSWORD: '${DB_PASSWORD}'
      MSSQL_PID: 'Express'
    volumes:
      - db:/var/opt/mssql
    restart: always
  backup:
    image: bacr/backuputil
    environment:
      SqlBackup__ConnectionString: 'Server=tcp:${DB_HOST},1433;User ID=${DB_USER};Password=${DB_PASSWORD};MultipleActiveResultSets=false'
      SqlBackup__Database: '${DB_NAME}'
      SqlBackup__BackupPath: /var/opt/mssql/backup
      DbBackupJob__BackupPath: /db/backup
      DbBackupJob__StoragePath: backup
      DbBackupJob__Archive: 'true'
      Services__BackupUtil.Storage.IStorage: BackupUtil.Storage.AWSS3Storage
      AWSS3Storage__AccessKey: ${S3_ACCESS_KEY}
      AWSS3Storage__SecretKey: ${S3_SECRET_KEY}
      AWSS3Storage__BucketName: sakhatyla
      AWSS3Storage__ServiceUrl: '${S3_SERVICE_URL}'
      BackupSchedulerJob__Db__0__Type: Full
      BackupSchedulerJob__Db__0__Cron: '0 0 0 1 * ?'
      BackupSchedulerJob__Db__1__Type: Differential
      BackupSchedulerJob__Db__1__Cron: '0 0 1 ? * SUN'
      BackupSchedulerJob__Db__2__Type: TransactionLog
      BackupSchedulerJob__Db__2__Cron: '0 0 2 * * ?'
    volumes:
      - db:/db
    restart: always
  mq:
    environment:
      RABBITMQ_DEFAULT_USER: '${MQ_USERNAME}'
      RABBITMQ_DEFAULT_PASS: '${MQ_PASSWORD}'
    volumes:
      - mq:/var/lib/rabbitmq
    restart: always
  proxy:
    image: nginxproxy/nginx-proxy
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - ./nginx/custom.conf:/etc/nginx/conf.d/st_custom.conf:ro
      - ${EXT_APP_DIRECTORY}/web_nginx.conf:/etc/nginx/vhost.d/${EXT_APP_HOST}:ro
      - certs:/etc/nginx/certs:ro
      - html:/usr/share/nginx/html
      - /var/run/docker.sock:/tmp/docker.sock:ro
    labels:
      - "com.github.nginx-proxy.nginx"
    restart: always
  letsencrypt:
    image: nginxproxy/acme-companion
    volumes:
      - certs:/etc/nginx/certs:rw
      - html:/usr/share/nginx/html
      - acme:/etc/acme.sh
      - /var/run/docker.sock:/var/run/docker.sock:ro
    restart: always
volumes:
  db:
  mq:
  index:
  dpkeys:
  html:
  certs:
  acme: