<mat-card class="mat-card-view" *transloco="let t">

  <mat-card-header>
    <mat-card-title>{{ t('Book') }} <app-book-show [value]="book"></app-book-show></mat-card-title>
  </mat-card-header>

  <mat-card-actions>
    <button mat-raised-button color="primary" type="button" (click)="onEdit()">{{ t('shared.edit') }}</button>
    <button mat-raised-button type="button" (click)="onBack()">{{ t('shared.back') }}</button>
  </mat-card-actions>

  <div *ngIf="book">
    <div class="field-view">
      <label>{{ t('Name') }}</label>
      <div>
        <app-text-view [value]="book.name"></app-text-view>
      </div>
    </div>
    <div class="field-view">
      <label>{{ t('Synonym') }}</label>
      <div>
        <app-text-view [value]="book.synonym"></app-text-view>
      </div>
    </div>
    <div class="field-view">
      <label>{{ t('Hidden') }}</label>
      <div>
        <app-bool-view [value]="book.hidden"></app-bool-view>
      </div>
    </div>
    <div class="field-view">
      <label>{{ t('Cover') }}</label>
      <div>
        <app-text-view [value]="book.cover"></app-text-view>
      </div>
    </div>
  </div>

</mat-card>

<mat-card class="mat-card-list" *ngIf="bookPageListState">
  <app-book-page-list [state]="bookPageListState"></app-book-page-list>
</mat-card>
