@using SakhaTyla.Core.Requests.Widgets
@inject MediatR.IMediator Mediator
@{
    var footerWidget = await Mediator.Send(new GetWidget() { Code = "footer" });
}

<footer class="border-top footer text-muted">
    <div class="container">
        <partial name="_WidgetPartial" model="footerWidget" />
    </div>
</footer>

