.columns-menu-section {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.columns-menu-div {
  text-align: center;

  button {
      width: -webkit-fill-available;
      margin: 5px 15px;
  }
}
