<mat-select *ngIf="mode == 'select'" [(ngModel)]="innerValue" [disabled]="disabled" [placeholder]="placeholder">
  <mat-option [value]="null"></mat-option>
  <mat-option [value]="workerScheduleTask.id" *ngFor="let workerScheduleTask of workerScheduleTasks">{{ workerScheduleTask.seconds }}</mat-option>
</mat-select>
<ng-container *ngIf="mode == 'autocomplete'">
  <input matInput type="text" [formControl]="autocompleteControl" [placeholder]="placeholder"
    [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="getDisplay">
    <mat-option *ngFor="let workerScheduleTask of autocompleteWorkerScheduleTasks | async" [value]="workerScheduleTask">
      {{ workerScheduleTask.seconds }}
    </mat-option>
  </mat-autocomplete>
</ng-container>