<mat-select *ngIf="mode == 'select'" [(ngModel)]="innerValue" [disabled]="disabled" [placeholder]="placeholder">
    <mat-option [value]="null"></mat-option>
    <mat-option [value]="role.id" *ngFor="let role of roles">{{ role.name }}</mat-option>
</mat-select>
<ng-container *ngIf="mode == 'autocomplete'">
    <input matInput type="text" [formControl]="autocompleteControl" [placeholder]="placeholder"
        [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="getDisplay">
        <mat-option *ngFor="let role of autocompleteRoles | async" [value]="role">
            {{ role.name }}
        </mat-option>
    </mat-autocomplete>
</ng-container>