<mat-card class="mat-card-view" *transloco="let t">

  <mat-card-header>
    <mat-card-title>{{ t('Widget') }} <app-widget-show [value]="widget"></app-widget-show></mat-card-title>
  </mat-card-header>

  <mat-card-actions>
    <button mat-raised-button color="primary" type="button" (click)="onEdit()">{{ t('shared.edit') }}</button>
    <button mat-raised-button type="button" (click)="onBack()">{{ t('shared.back') }}</button>
  </mat-card-actions>

  <div *ngIf="widget">
    <div class="field-view">
      <label>{{ t('Name') }}</label>
      <div>
        <app-text-view [value]="widget.name"></app-text-view>
      </div>
    </div>
    <div class="field-view">
      <label>{{ t('Code') }}</label>
      <div>
        <app-text-view [value]="widget.code"></app-text-view>
      </div>
    </div>
    <div class="field-view">
      <label>{{ t('Body') }}</label>
      <div>
        <app-text-view [value]="widget.body"></app-text-view>
      </div>
    </div>
    <div class="field-view">
      <label>{{ t('Type') }}</label>
      <div>
        <app-widget-type-view [value]="widget.type"></app-widget-type-view>
      </div>
    </div>
  </div>

</mat-card>