@using Microsoft.AspNetCore.Mvc.Localization
@using SakhaTyla.Core.Requests.Public.Articles
@using SakhaTyla.Core.Requests.Public.Articles.Models
@using Models
@inject MediatR.IMediator Mediator
@inject IViewLocalizer Localizer
@{
    var article = await Mediator.Send(new GetRandomArticle());
    var articleModel = new ArticlePartialModel(article)
    {
        ShowLanguage = true
    };
}

<h2>@Localizer["Random Article"]</h2>

<partial name="Shared/_ArticlePartial" model="articleModel" />
