@using Microsoft.AspNetCore.Mvc.Localization
@using SakhaTyla.Core.Requests.Books
@inject MediatR.IMediator Mediator
@inject IViewLocalizer Localizer

@{
    var books = await Mediator.Send(new GetBooks()
    {
        PageSize = 10,
        PageIndex = 0,
        OrderBy = "Id",
        OrderDirection = Core.Infrastructure.OrderDirection.Descending
    });
}

<h2>@Localizer["Books"]</h2>

<ul>
    @foreach (var book in books.PageItems)
    {
        <li>
            <a asp-page="./Book" asp-route-synonym="@book.Synonym">@book.GetFullName()</a>
        </li>
    }
</ul>