@page
@using Microsoft.AspNetCore.Mvc.Localization
@model ResetPasswordConfirmationModel
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Reset password confirmation"];
}

<h1>@ViewData["Title"]</h1>
<p>
    @Localizer["Your password has been reset."] <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">@Localizer["Click here to log in"]</a>
</p>
