<ng-container *transloco="let t">
  <h1 mat-dialog-title>
    {{ t('Worker Run') }} <app-worker-run-show [value]="workerRun"></app-worker-run-show>
  </h1>
  <mat-dialog-content *ngIf="workerRun" class="mat-dialog-content-edit">

    <form [formGroup]="workerRunForm">
      <mat-form-field>
        <mat-label>{{ t('Worker') }}</mat-label>
        <app-worker-info-select formControlName="workerInfoId" name="workerInfoId" [placeholder]="t('Worker')"></app-worker-info-select>
        <mat-error>{{ error?.modelState?.workerInfoId | modelError }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ t('Data') }}</mat-label>
        <app-text-edit formControlName="data" name="data" [placeholder]="t('Data')" [multiline]="true"></app-text-edit>
        <mat-error>{{ error?.modelState?.data | modelError }}</mat-error>
      </mat-form-field>
    </form>

  </mat-dialog-content>
  <mat-dialog-actions class="mat-dialog-actions-edit">
    <button mat-raised-button mat-dialog-close>{{ t('shared.cancel') }}</button>
    <button mat-raised-button color="primary" (click)="onSave()" cdkFocusInitial>{{ t('shared.save') }}</button>
  </mat-dialog-actions>
</ng-container>
