<mat-select *ngIf="mode == 'select'" [(ngModel)]="innerValue" [disabled]="disabled" [placeholder]="placeholder">
  <mat-option [value]="null"></mat-option>
  <mat-option [value]="book.id" *ngFor="let book of books">{{ book.name }}</mat-option>
</mat-select>
<ng-container *ngIf="mode == 'autocomplete'">
  <input matInput type="text" [formControl]="autocompleteControl" [placeholder]="placeholder"
    [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="getDisplay">
    <mat-option *ngFor="let book of autocompleteBooks | async" [value]="book">
      {{ book.name }}
    </mat-option>
  </mat-autocomplete>
</ng-container>