@page
@model IndexModel
@{
    ViewData["Title"] = Model.PageModel?.GetTitle();
    ViewData["Keywords"] = Model.PageModel?.MetaKeywords;
    ViewData["Description"] = Model.PageModel?.MetaDescription;
}

<partial name="Shared/_TranslateFormPartial" for="TranslateForm" />

<article>
    @if (Model.Sections != null)
    {
        <div>
            <partial name="Page/_HtmlPartial" for="Sections" />
        </div>
    }
</article>