@page
@using SakhaTyla.Core.Common
@model SakhaTyla.Web.Front.Pages.AppPageModel
@{
    ViewData["Title"] = Model.PageModel.GetTitle();
    ViewData["Keywords"] = Model.PageModel.MetaKeywords;
    ViewData["Description"] = Model.PageModel.MetaDescription;
}

<partial name="_BreadcrumbsPartial" for="BreadcrumbsModel" />

@if (Model.PageModel.Type == Core.Enums.PageType.Blog)
{
    <h1>@Model.PageModel.GetHeader()</h1>
    <partial name="Page/_ArticlesPartial" for="ArticlesModel" />
}
else
{
    <article>
        @if (Model.PageModel.Image != null)
        {
            <div>
                <img src="@Model.PageModel.Image.Url">
            </div>
        }
        <h1>@Model.PageModel.GetHeader()</h1>
        <div>
            <partial name="Page/_HtmlPartial" for="Sections" />
        </div>

        @if (Model.PageModel.Type == Core.Enums.PageType.Article)
        {
            <div class="post-footer">
                <span>
                    @Model.PageModel.PublicationDate.ToApplicationTime()?.ToString("D")
                </span>
            </div>
        }
    </article>

    @if (Model.PageModel.Type == Core.Enums.PageType.Article)
    {
        <div class="page-comments">
            <partial name="Page/_CommentsPartial" for="CommentsModel" />
        </div>
    }    
}