/* You can add global styles to this file, and also import other style files */
@import "~@danielmoncada/angular-datetime-picker/assets/style/picker.min.css";

/* Add Angular Material themes*/
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';

@import '~material-icons-font/sass/variables';
@import '~material-icons-font/sass/mixins';
$MaterialIcons_FontPath: "~material-icons-font/fonts";
@import '~material-icons-font/sass/main';
@import '~material-icons-font/sass/Regular';


$primary: mat-palette($mat-indigo);

/* ibm-plex-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('assets/fonts/ibm-plex-sans-v8-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('assets/fonts/ibm-plex-sans-v8-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-sans-600 - latin_cyrillic */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('assets/fonts/ibm-plex-sans-v8-latin_cyrillic-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('assets/fonts/ibm-plex-sans-v8-latin_cyrillic-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('assets/fonts/ibm-plex-sans-v8-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('assets/fonts/ibm-plex-sans-v8-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

$custom-typography: mat-typography-config(
  $font-family: 'IBM Plex Sans'
);

@include mat-base-typography($custom-typography);
@include mat-checkbox-typography($custom-typography);
@include angular-material-typography($custom-typography);
@include mat-core($custom-typography);

body {
  font-family: 'IBM Plex Sans', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  color: mat-color($primary);
  text-decoration: none;
}

.mat-card-actions .mat-button:first-child,
.mat-card-actions .mat-raised-button:first-child,
.mat-card-actions .mat-stroked-button:first-child {
  margin-right: 8px !important;
}

.mat-table {
  width: 100%;

  .mat-header-cell:not(:last-of-type), .mat-cell:not(:last-of-type) {
    padding-right: 8px;
  }

  .mat-cell {
    app-text-view {
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block;
      overflow: hidden;
      max-width: 220px;
    }
  }

  .mat-row {
    outline: 0;

    &:hover, &:focus {
      background: #f5f5f5;
    }
  }
}

.mat-card-list {
  max-width: 1200px;
  margin: 0 auto;

  .mat-card-header {
    margin: 0 -16px;
  }

  .mat-card-actions {
    margin-left: 0;
    margin-right: 0;

    .mat-form-field {
      margin: 0 8px;

      &:first-child {
        margin-left: 0;
      }
    }

    > .action-item {
      margin: 7px 0 7px 0;
    }
  }

  .mat-table {
    .mat-row {
      cursor: pointer;
    }

    .mat-column-action {
      text-align: right;
    }
  }
}

.mat-card-view {
  max-width: 1200px;
  margin: 0 auto;

  .mat-card-header {
    margin: 0 -16px;
  }

  .mat-card-actions {
    margin-left: 0;
    margin-right: 0;
  }

  .field-view {
    margin-bottom: 1em;

    > label {
      font-size: 12px;
      color: rgba(0, 0, 0, 0.54);
    }
  }
}

.mat-card-edit {
  max-width: 1200px;
  margin: 0 auto;

  .mat-card-header {
    margin: 0 -16px;
  }

  .mat-card-actions {
    margin-left: 0;
    margin-right: 0;
  }

  mat-form-field {
    width: 100%;
  }
}

.mat-dialog-content-edit {
  .field-view {
    margin-bottom: 1em;

    > label {
      font-size: 12px;
      color: rgba(0, 0, 0, 0.54);
    }
  }

  > form {
    > mat-form-field {
      width: 100%;
    }
  }
}

.mat-dialog-actions-edit {
  justify-content: flex-end;
}

.owl-dt-container {
  font-size: 10pt;
}
