<mat-card class="mat-card-view" *transloco="let t">

  <mat-card-header>
    <mat-card-title>{{ t('Worker') }} <app-worker-info-show [value]="workerInfo"></app-worker-info-show></mat-card-title>
  </mat-card-header>

  <mat-card-actions>
    <button mat-raised-button color="primary" type="button" (click)="onEdit()">{{ t('shared.edit') }}</button>
    <button mat-raised-button type="button" (click)="onBack()">{{ t('shared.back') }}</button>
  </mat-card-actions>

  <div *ngIf="workerInfo">
    <div class="field-view">
      <label>{{ t('Name') }}</label>
      <div>
        <app-text-view [value]="workerInfo.name"></app-text-view>
      </div>
    </div>
    <div class="field-view">
      <label>{{ t('Class Name') }}</label>
      <div>
        <app-text-view [value]="workerInfo.className"></app-text-view>
      </div>
    </div>
  </div>

</mat-card>

<mat-card class="mat-card-list" *ngIf="workerScheduleTaskListState">
  <app-worker-schedule-task-list [state]="workerScheduleTaskListState"></app-worker-schedule-task-list>
</mat-card>
