quartz.scheduler.instanceName = MainScheduler
quartz.serializer.type = json
quartz.jobStore.type = Quartz.Simpl.RAMJobStore, Quartz
quartz.plugin.xml.type = Quartz.Plugin.Xml.XMLSchedulingDataProcessorPlugin, Quartz.Plugins
quartz.plugin.xml.fileNames = ~/jobs.xml
quartz.threadPool.threadCount = 3
quartz.scheduler.interruptJobsOnShutdownWithWait = true