html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 105px;
}

.navbar .navbar-brand {
    background-image: url('../images/logo-60.png');
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 30px;
    padding-left: 40px;
}

h1 {
    margin-bottom: 1em;
}

.page-comments {
    margin-top: 3em;
}

.post-footer {
    font-size: 0.95em;
    border: 1px solid #C7C7C7;
    padding: 5px;
    margin-top: 1em;
    display: inline-flex;
    gap: 15px;
    border-radius: 3px;
}

.footer-social {
    font-size: 2em;
}

    .footer-social a {
        color: black;
    }

.article-text.article-text-collapsed {
    max-height: 200px;
    overflow: hidden;
    position: relative;
}

.article-text.article-text-collapsed::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    pointer-events: none;
}

.article-text-toggle {
    margin-top: 0.25em;
    margin-bottom: 0.5em;
}