<ng-container *transloco="let t">
  <h1 mat-dialog-title>
    {{ t('Menu Item') }} <app-menu-item-show [value]="menuItem"></app-menu-item-show>
  </h1>
  <mat-dialog-content *ngIf="menuItem" class="mat-dialog-content-edit">

    <form [formGroup]="menuItemForm">
      <mat-form-field>
        <mat-label>{{ t('Name') }}</mat-label>
        <app-text-edit formControlName="name" name="name" [placeholder]="t('Name')"></app-text-edit>
        <mat-error>{{ error?.modelState?.name | modelError }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ t('Url') }}</mat-label>
        <app-text-edit formControlName="url" name="url" [placeholder]="t('Url')"></app-text-edit>
        <mat-error>{{ error?.modelState?.url | modelError }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ t('Parent') }}</mat-label>
        <app-menu-item-select formControlName="parentId" name="parentId" [placeholder]="t('Parent')"
          [menuId]="menuItemForm.controls.menuId.value"></app-menu-item-select>
        <mat-error>{{ error?.modelState?.parentId | modelError }}</mat-error>
      </mat-form-field>
    </form>

  </mat-dialog-content>
  <mat-dialog-actions class="mat-dialog-actions-edit">
    <button mat-raised-button mat-dialog-close>{{ t('shared.cancel') }}</button>
    <button mat-raised-button color="primary" (click)="onSave()" cdkFocusInitial>{{ t('shared.save') }}</button>
  </mat-dialog-actions>
</ng-container>
