<mat-card class="mat-card-view" *transloco="let t">

    <mat-card-header>
        <mat-card-title>{{ t('Article') }} <app-article-show [value]="article"></app-article-show></mat-card-title>
    </mat-card-header>

    <mat-card-actions>
        <button mat-raised-button color="primary" type="button" (click)="onEdit()">{{ t('shared.edit') }}</button>
        <button mat-raised-button color="primary" type="button" (click)="onViewChanges()">{{ t('shared.changes') }}</button>
        <button mat-raised-button type="button" (click)="onBack()">{{ t('shared.back') }}</button>
    </mat-card-actions>

    <div *ngIf="article">
        <div class="field-view">
            <label>{{ t('Title') }}</label>
            <div>
                <app-text-view [value]="article.title"></app-text-view>
            </div>
        </div>
        <div class="field-view">
            <label>{{ t('Text') }}</label>
            <div>
                <app-text-view [value]="article.text"></app-text-view>
            </div>
        </div>
        <div class="field-view">
            <label>{{ t('Text Source') }}</label>
            <div>
                <app-text-view [value]="article.textSource"></app-text-view>
            </div>
        </div>
        <div class="field-view">
            <label>{{ t('From Language') }}</label>
            <div>
                <app-language-show [value]="article.fromLanguage"></app-language-show>
            </div>
        </div>
        <div class="field-view">
            <label>{{ t('To Language') }}</label>
            <div>
                <app-language-show [value]="article.toLanguage"></app-language-show>
            </div>
        </div>
        <div class="field-view">
            <label>{{ t('Fuzzy') }}</label>
            <div>
                <app-bool-view [value]="article.fuzzy"></app-bool-view>
            </div>
        </div>
        <div class="field-view">
            <label>{{ t('Category') }}</label>
            <div>
                <app-category-show [value]="article.category"></app-category-show>
            </div>
        </div>
    </div>

</mat-card>
