<mat-select *ngIf="mode == 'select'" [(ngModel)]="innerValue" [disabled]="disabled" [placeholder]="placeholder">
    <mat-option [value]="null"></mat-option>
    <mat-option [value]="user.id" *ngFor="let user of users">{{ user.userName }}</mat-option>
</mat-select>
<ng-container *ngIf="mode == 'autocomplete'">
    <input matInput type="text" [formControl]="autocompleteControl" [placeholder]="placeholder"
        [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="getDisplay">
        <mat-option *ngFor="let user of autocompleteUsers | async" [value]="user">
            {{ user.userName }}
        </mat-option>
    </mat-autocomplete>
</ng-container>